<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3>Listings</h3>
  <form method="get" action="/listings/new">
  </form>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for (let l of all_listing){%>
    <a href="/listings/<%=l._id%>" class="listing-link">
      <div class="card col" >
        <img src="<%=l.image%>" class="card-img-top" alt="listing_image" style="height:20rem;"/>
        <div class="card-img-overlay">ss</div>
        <div class="card-body">
          <p class="card-text"><b><%=l.title %><br> PRICE: <%=l.price%></b>/night</p>
        </div>
      </div>
    </a>
      <%}%>
  </div>
    

  
</body>
